* {
    margin: 0px;
    padding: 0px;
}

.no-display {
    display: none;
}

.book-popup {
    z-index: 10000;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

.home-wrapper {
    width: 100vw;
    height: fit-content;
}

.home {
    position: relative;
    top: 10vh;
}

.select-btn-list {
    position: sticky;
    top: 10vh;
    z-index: 100;
}