* {
    margin: 0px;
    padding: 0px;
}

.line{
    height: 1px;
    background-color: grey;
}

.review {
    display:inline-block;
    width: 260px;
    height: 150px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.review-email-name {
    position: relative;
    width: 100%;
    height: auto;

}

.review-email {
    font-size: 0.34em;
    position: relative;
    bottom: 10px;
    left: 3px;
    color: blue;
    text-decoration: underline;
}

.review-name {
    font-weight: bold;
    padding-bottom: 7px;
}

.review-data {
    height: 50px;
    overflow: auto;
    font-size: xx-small;
}