
.istudent-experience-data {
    width: 95%;
    margin: auto;
    padding: 5px;
    position: relative;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

p span, .istudent-title-comapany {
    font-weight: bold;
}

.istudent-title-comapany {
    font-size: larger;
}

.istudent-description {
    width: 80%;
    height: 70px;
    overflow: auto;
}

.istudent-description> span {
    position: sticky;
    top: 0px;
    background-color: #fff;
}

 